# Poetry
poetry.lock

# Enviornments
.env

# Mac
.DS_Store

# Python
__pycache__/

# Data
images/

# Hydra
outputs/

# Fortran
*.mod
*.o
f90wrap*.f90
*.f2py_f2cmap
*.so
api/Fortran/mandelbrot.py

# VSCode
.vscode/

# Scrap
scrap.ipynb