{% extends "base.html" %} {% block content %}

<h1>Visualise a region from the Mandelbrot Set</h1>

<!-- Bootstrap CSS -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
  crossorigin="anonymous"
></script>

<label for="xInput">Image centre (real): </label>
<input id="xInput" type="number" value="-0.5" /><br /><br />

<label for="yInput">Image centre (imaginary): </label>
<input id="yInput" type="number" value="0." /><br /><br />

<label for="zoomInput">Image zoom: </label>
<input id="zoomInput" type="number" value="1." /><br /><br />

<label for="depth">Image depth:</label>
<select name="depth" id="depthInput">
  <option value="low" selected>Low</option>
  <option value="medium">Medium</option>
  <option value="high">High</option>
</select>
<br /><br />

<!-- <button id="imageButton" onClick="image()">Create image</button><br /><br /> -->
<button
  type="button"
  class="btn btn-primary"
  id="imageButton"
  onClick="image()"
>
  Create image</button
><br /><br />
<img
  id="image"
  src="static/mandelbrot.png"
  alt="Mandelbrot Set"
  style="width: 1000px; height: 1000px"
/><br /><br />

{% endblock %}
