{% extends "base.html" %} {% block content %}

<h1>Visualise a region from the Mandelbrot Set</h1>

<label for="xInput">Image centre (real): </label>
<input id="xInput" type="number" value="-0.5" /><br /><br />

<label for="yInput">Image centre (imaginary): </label>
<input id="yInput" type="number" value="0." /><br /><br />

<label for="sizeInput">Image size (assumed square): </label>
<input id="sizeInput" type="number" value="2." /><br /><br />

<label for="depth">Image depth:</label>
<select name="depth" id="depthInput">
  <option value="low">Low</option>
  <option value="medium" selected>Medium</option>
  <option value="high">High</option>
</select>
<br /><br />

<button id="imageButton" onClick="image()">Create image</button><br /><br />
<img
  id="image"
  src="static/mandelbrot.png"
  alt="Mandelbrot Set"
  style="width: 1000px; height: 1000px"
/><br /><br />

{% endblock %}
